<nav class="default blue" role="navigation">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">SGE - Sistema de Gestão Escolar</a>
    <a href="#!" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li (click)="logout()"><a class="waves-effect blue darken-2 waves-light btn"><i class="material-icons center circle" (click)="logout()">power_settings_new</i></a></li>
    </ul>
    <app-menu></app-menu>
  </div>
</nav>
